.navbars .nav-link {
    margin-left: 25px !important;
    margin-right: 25px !important;
}
.navbars .nav-link  i  
{
padding-right: 10px;
font-size: 20px;
}
.divcover 
{ 
    height: 56px;
    width: 138px;
    background-color: #669bf6;
    position: absolute;
    top: -8px;
    right: -10px;
    z-index: -1;
}
.compare-position
{
    position: relative;
    z-index: 0;
}
@media only screen and (min-width:0px) and (max-width:991.9px)
{
    .divcover 
    { 
        height: 56px;
        width: 120px;
        background-color: #669bf6;
        position: static;
        display: none;
        top: -8px;
        right: -2px;
        z-index: -1;
    }
    .compare-position
{
    position: static;;
    z-index: 0;
}
}