.Home_Link_Section{
    display:inline-flex;
    padding-top: 14px;
    padding-bottom: 2px;
}
.Home_link-SubSection
{
    padding-right: 30px;
}
.c_img
{
    width:60px;  
   margin-right: 30px;
}
.C-Name
{
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 4px;

}
.Search-pge
{
    margin-bottom: 60px;
}
.box-shaddow-search
{
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-top: 30px;
    background-color: #f4f3f3;    
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem
}



.box-shaddow-search:hover
{
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.box-shaddow-search a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
    display: none;
}
.box-shaddow-search a:hover{
    text-decoration: none;
    color: #3e3c3c;
}
.box-shaddow-search a{
    color: #3e3c3c;
}
.img-div-section
{
    display:flex;
    align-items:center;

}
.serach-Context-page
{
    text-align: center;
    color:white;
    padding-top: 4rem;
}
.P-borber
{
    border-bottom: 1px solid #ded6d6;
}
.line-a
{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}
.line-a:hover{
    background-color: #c4c4c4;
    padding: 5px;
}
.search-button{
width: 70%;
height: 65px;
font-size: 23px;
padding-left: 14px;
}
.crypto_text
{
    font-size: 20px;
}
.Form-Selection
{
    margin-top:55px;
}
.fas-seraching{
    height: 64px;
    font-size: 28px;
    padding: 16.8px;
    background-color: #03A9F4;
    cursor: pointer;
}
.Search_Section .react-parallax-bgimage
{
    width:100% !important;
}
@media only screen and (min-width:0px) and (max-width:400px)
{
    .Home_link-SubSection
    {
        padding-right: 3px;
    }
    .box-shaddow-search
{
    padding-left: 1rem;
    padding-right: 1rem;
}
}