label {
    position:relative;   
    cursor:pointer;
}
label [type="checkbox"] {
    display:none;
}

/* :checked + span  {
    background:#0f0;
    display:inline-block;    
}
:checked + span + h1 {
    background:#0f0;
    
} */
[type="checkbox"] + .label-content  {
    
}
:checked +.label-content   {
    border: 2px solid #2196F3;
}

.items-card-spaces {
    align-items: center;
    display: flex;
    padding-right: 35px;
    flex-wrap:wrap;
}
.plus-style{
    font-size: 30px;
    background-color: white;
    color: #2196F3;
}
.label-content1 .fa-minus-circle::before
{
    display:none
}
.label-content1 .fa-minus-circle::after:hover
{
    display:block
}
.label-content1 .fa-minus-circle
{
    display:block
}
.main_model
{
    display: flex;
    flex-wrap: wrap;
}
.buttonTrue
{
    border:1px solid black;
 }
 .buttonFalse
 {
    border:1px solid red;  
 }
 .gallery-text{
    

    /* bottom: 0; */

    width: 130px;
    border-radius: 9px;
    width: 130px;
    text-align: center;
    height: 130px;
    align-items: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
 
    position: absolute;
    height: 130px;
    text-align: center;
    opacity: 0;
    background-color: rgba(255,255,255,0.8);
   
}
.Compare-page
{
    height: 100vh;
    background-color: #f0eded59;
}
.gallery-text:hover{
    opacity: 1;      
}
.Minus-style {
    font-size: 30px;
    background-color: white;
    color: #2196F3;
}

.gallery-text h3{
    color: white;
    position: absolute;  
             
}
.model-image
{
    height:50px;
    width:50px;
}
.model-Name
{
    font-size: 1rem;
    padding-top: 10px;
}
.ReactModal__Content
{
    height: 88%;
    width: 50%;
    overflow: hidden;
}
.Compare-style{
    padding-left: 40px;
}

.label-content
{
    border-radius: 9px;
    width: 130px;
    text-align: center;
    height: 130px;
    align-items: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    margin-top: 12px;
    
}
.label-content1
{
    border-radius: 9px;
    width: 130px;
    text-align: center;
    height: 130px;
    align-items: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 12px;
    
}
.form-Main
{
    display:flex;
    flex-wrap: wrap;
    height: 72%;
    overflow: auto;
}
.items-card-space
{
    justify-content: center;
    align-items: center;
    display: flex
}
.Compare-style
{
    display:block;
    padding-top: 43px;
}
.Exchange-select
{
    color: #867979;
    padding-top: 66px;

}
.footer-models
{
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
}
.footer-Text-h5
{
    padding: 7px;
    color: #1976d2 !important;  
    cursor: pointer;
}
.footer-Text-h5:hover
{
    padding: 7px;
    background-color: #9dccf34a;
    color: #1976d2 !important
}
.footer-Text
{
    padding: 7px;
    color: #1976d2 !important;
    cursor: pointer;
}
.footer-Text:hover
{
    padding: 7px;
    background-color: #9dccf34a;
    color: #1976d2 !important;
}
.compare-text
{
    font-size: 2rem;
    font-weight: bold;

}
.btn-plus
{
    width: 130px;
    height: 129px;
    border: 0;
    border-radius: 9px;
    outline: 0;
    background-color: white;

}
.btn-plus:focus
{
    border: 0;
    
    outline: 0;
}
.market-pair{
    color: #867979;
    padding-top: 66px;
}
.Close-btn
{
    position: absolute;
    right: 8px;
    top: 6px;
    background-color: transparent;
    border: 0;
}
.serach-coin-selection
{
padding-left: 57px;
margin-bottom: 13rem;
}
.selected-style
{
    height: 50px;
    border: none;
    margin-right: 16px;
    width: 280px;
}
.Compare-style1
{

}
.f-g
{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (min-width:0px) and (max-width:900px)
{
.ReactModal__Content {
    height: 64%;
    width: 80%;
}
}


@media only screen and (min-width:0px) and (max-width:648.9px)
{
.selected-style1
{
    margin-top: 10px;
}
}

@media only screen and (min-width:0px) and (max-width:400px)
{
    .Compare-style {
        padding-left: 15px;
    }
    .serach-coin-selection {
        padding-left: 15px;
        
    }
}