.footer-text
{
    padding-right: 22px;
    position: relative;
    text-align: right;
    color:white;
}

.footer-Main
{
    background-color: #37474f!important;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.Sub-footer-Main
{
    background-color: #343a40!important;
}
.Sub-footer-text
{
    text-align: center;
    color:white;
    padding-top: 3px;
    padding-bottom: 3px;
}
.a-col
{
    text-decoration: underline;
    color:white;
}
.a-cola:hover
{
    text-decoration: underline;
    color:white;
}