$main-color: #464B4E;

$border-color: #A1A1A1;
$back-color:"#ffffff";
$next-previuse:"#EBEBEB";
$cutombtext:#464B4E;
html {
    --main-color: #182542;
    --back-color:"#464B4E";
    --border-color: #080808;
    --next-previuse:"#EBEBEB";
    --cutombtext:#464B4E;
}
