@import "src/Scssvarible.scss";
.HomeCarasoule{
    overflow: hidden;
    height: 14rem;
    width: 100% !important;
    // flex-wrap: wrap;
    // padding: 3% 0;
    // align-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid red;


    .above-text {
        display: flex;
        justify-content: center;
  
        // color: white;
        margin-bottom: 0;
        font-weight: 600;

        @media (max-width: 767px) {
  
            font-size: 120%;
            font-weight: 700;
        }
       
    }
    .cards-wrapper {
        width: 100%;
        height: 100%;
        // background-color: green;
        // flex: 1;
        @media (max-width: 767px) {
            height: 100%;
            width: 80%;
            padding: 20px 0;
        }
        .cards-wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            label {
                overflow: hidden;
                cursor: pointer;
                position: absolute;
                flex-direction: column;
                width: 42%;
                height: 100%;
                background-color: var(--back-color);
              
                left: 50%;
                transform: translateX(-50%);
                z-index: 3;
                margin: 0;
                @media (max-width: 767px) {
                    width: 100%;
                    border: 0;
                    
                }
                // .video-player-wrapper {
                //     width: 100%;
                //     height: 68%;
                //     @media (max-width: 767px) {
                //         height: 60%;
                //     }
                // }
                .below-text {
            
                    width: 100% !important;
              
              height: 100%;
              
                    // position: absolute;
                    .leftside{
                        height: 100%;
                        width: 50%;
                        display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 4% 0% 4%;
                    }
                    .rightside{
                        height: 100%;
                        width: 50%;
                        background-size: 100% 100%;
             background-repeat: no-repeat;
                    
                    }
                    h5 {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 25px;
                        line-height: 30px;
                        color:  var(--main-color);
                    }
                    p {
                        width: 100%;
            
                        // font-size: 90%;
                        margin: 0;
                        word-break: keep-all;
                        font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 25px;
/* or 227% */

display: flex;
align-items: center;

color:  var(--main-color);
                    }
                  
                    button {
                   
                       
                        background-color: #182542;
                        color: var(--background-color);
                        font-size: 75%;
                        font-weight: 600;
                        padding: 1vh 3vh;
                        transition: font-size ease-in-out 0.3s;
                        &:hover {
                            font-size: 13px;
                        }
                    }
                }
            }
            .current-card{
                z-index: 2;
                transform: translateX(-50%);
                transition: 0.3s;
                background: white;
                border: 1px solid  var(--border-color);
                h5{
            
                    color:  var(--cutombtext) !important;
                                    }
                                    p{
                                 
                                        color:  var(--cutombtext) !important;
                                                        }
                        
            }
            .hidden{
                z-index: -1;
                transform: translateX(-50%) scale(0.25);
                transition: 0.3s;
            }
            .previous-card{
                z-index: 1;
                transform: translateX(-160%) scale(1);
                transition: 0.3s;
           
                border: 0.5px solid  var(--next-previuse);
                h5{
opacity: 0.4;
                }
                p{
                    opacity: 0.4;
                                    }
            }
            .next-card{
                z-index: 1;
                transform: translateX(60%) scale(1);
                transition: 0.3s;
              
                border: 0.5px solid  var(--next-previuse);
                h5{
                    opacity: 0.4;
                                    }
                                    p{
                                        opacity: 0.4;
                                                        }
            }
            @media (max-width: 767px) {
                .current-card{
                    transform: translateX(-36.5%);

                }
                
                
            }
        }

    }
}

.homepage{
    background-color: var(--back-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
.exchange{
    display: block;
    margin-top: 2%;
    margin-bottom: 6%;
}
}